<div class="pesdk-controls-{{=it.identifier}}">
  <div class="pesdk-controls-button pesdk-controls-back">
    <img src="{{=it.helpers.assetPath('ui/night/buttons/back.png') }}" />
  </div>

  {{=it.partials.control}}
</div>
