<div class="imglykit-controls-control">
  <div class="imglykit-controls-button imglykit-controls-back">
    <img src="{{=it.helpers.assetPath('ui/night/buttons/back.png') }}" />
  </div>

  {{#def.control}}
</div>
