<div class="imglykit-controls-button imglykit-controls-done">
  <img src="{{=it.helpers.assetPath('ui/night/buttons/done.png') }}" />
  <div class="imglykit-controls-done-highlighted">
    <img src="{{=it.helpers.assetPath('ui/night/buttons/done-highlighted.png') }}" />
  </div>
</div>
