<div class="pesdk-canvas-radial-blur-container">
  <div class="pesdk-canvas-radial-blur-dot" id="pesdk-radial-blur-position"></div>
  <div class="pesdk-canvas-radial-blur-dot" id="pesdk-radial-blur-gradient"></div>
  <div class="pesdk-canvas-radial-blur-circle-container">
    <div class="pesdk-canvas-radial-blur-circle"></div>
  </div>
</div>
