<div class="pesdk-canvas-text-container">
  <div class="pesdk-canvas-text">
    <div class="pesdk-crosshair">
      <img src="{{=it.helpers.assetPath('ui/night/crosshair.png')}}" />
    </div>
    <div class="pesdk-canvas-text-textarea">
      <textarea></textarea>
      <div class="pesdk-knob"></div>
    </div>
  </div>
</div>
