<div>
  <ul class="imglykit-controls-list imgly-controls-list-with-buttons">
    {{~it.fonts :value:index}}
      <li data-name="{{= value.name}}" data-weight="{{= value.weight}}">
        <canvas class="imglykit-controls-item-canvas"></canvas>
      </li>
    {{~}}
  </ul>
</div>

<div class="imglykit-controls-button">
  {{= it.partials.fgColorPicker}}
</div>

<div class="imglykit-controls-button">
  {{= it.partials.bgColorPicker}}
</div>

{{= it.partials.doneButton}}
