{{##def.control:
  <div>
    {{#def.simpleSlider}}
  </div>

  <div class="imglykit-controls-button">
    {{var colorpickerLabel = "Color";}}
    {{#def.colorpicker}}
  </div>

  {{#def.doneButton}}
#}}
