<div class="imglykit-controls-filters">
  <div class="imglykit-controls-button imglykit-controls-back">
    <img src="{{=it.helpers.assetPath('ui/night/buttons/back.png') }}" />
  </div>

  <div>
    {{#def.simpleSlider}}
  </div>

  <div class="imglykit-controls-button">
    {{#def.colorpicker}}
  </div>

  <div class="imglykit-controls-button imglykit-controls-done">
    <img src="{{=it.helpers.assetPath('ui/night/buttons/done.png') }}" />
  </div>
</div>
