<div class="imglykit-canvas-tilt-shift-container">
  <div class="imglykit-canvas-tilt-shift-dot" data-option="start"></div>
  <div class="imglykit-canvas-tilt-shift-dot" data-option="end"></div>
</div>
