<div class="imglykit-canvas-tilt-shift-container">
  <div class="imglykit-canvas-tilt-shift-dot" data-option="position"></div>
  <div class="imglykit-canvas-tilt-shift-dot" data-option="gradient"></div>
  <div class="imglykit-canvas-tilt-shift-rect-container">
    <div class="imglykit-canvas-tilt-shift-rect"></div>
  </div>
</div>
