<div>
  <ul class="imglykit-controls-list imgly-controls-list-with-buttons">
    <li data-direction="horizontal">
      <img src="{{=it.helpers.assetPath('ui/night/flip/horizontal.png')}}" />
    </li>
    <li data-direction="vertical">
      <img src="{{=it.helpers.assetPath('ui/night/flip/vertical.png')}}" />
    </li>
  </ul>
</div>
