<div>
  <ul class="imglykit-controls-list imgly-controls-list-with-buttons">
    <li data-degrees="-90">
      <img src="{{=it.helpers.assetPath('ui/night/rotation/left.png')}}" />
    </li>
    <li data-degrees="90">
      <img src="{{=it.helpers.assetPath('ui/night/rotation/right.png')}}" />
    </li>
  </ul>
</div>
