<div class="imglykit-controls-{{=it.identifier}}">
  <div class="imglykit-controls-button imglykit-controls-back">
    <img src="{{=it.helpers.assetPath('ui/night/buttons/back.png') }}" />
  </div>

  {{=it.partials.control}}
</div>
